<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kang_won.widgetex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.example.kang_wond.widgetex.IMAGE" />
                <action android:name="com.example.kang_wond.widgetex.COLOR" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".WidgetEx">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config" />
        </receiver>

        <activity
            android:name=".SetActivity"
            android:label="@string/title_activity_set"
            android:theme="@android:style/Theme.Translucent" />

        <receiver android:name=".WidgetReceiver" />

        <activity
            android:name=".ColorPickerViewActivity"
            android:label="@string/title_activity_color_picker_view" />
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name=".TakeScreenShotActivity"
            android:label="@string/title_activity_take_screen_shot"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".SelectRSSFeedActivity"
            android:label="@string/title_activity_select_rssfeed"></activity>
        <activity
            android:name=".IndexAdapter"
            android:label="@string/title_activity_index_adapter"></activity>
        <activity
            android:name=".ContentAdapter"
            android:label="@string/title_activity_content_adapter"></activity>
    </application>

</manifest>
